.titleWrapper {
	display: flex;
	align-items: center;
}

.title {
	flex-grow: 1;
	font-size: 18px;
	font-weight: 500;
}

.animeCardWrapper {
	background: #7474801a;
	padding: 0.45rem;
	border-radius: 6px;

	display: flex;
	align-items: center;
	gap: 1rem;
}

.animeCardInfo {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

.infoStatus {
	color: #ff9b40;
	font-size: 12px;
}

.infoTitle {
	font-size: 16px;
	font-weight: 500;
}

.infoNoteCount {
	color: #ebebf580;
	font-size: 12px;
}

.notesWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
}
