.continueWatchSectionWrapper{
    background-color: #1c1c1c;
    border-radius: 8px;
    
    padding: 1rem;
}

.continueTitle{
    color: #bfbfbf;
    font-weight: 600;
    font-size: 18px;
}

.cwCardsWrapper{
    display: flex;
    align-items: center;
    margin-top: .5rem;
}