.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35rem;
	padding: 0.65rem;
	min-height: 32px;
	transition: background 300ms ease;
}

.button.hover:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transition: background 300ms ease;
}

.buttonText {
	color: #bfbfbf;
	font-size: 14px;
	font-weight: 600;
}
