.item {
	background-color: #252527;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
}

.itemButton {
	padding: 12px 18px;
	display: flex;
	align-items: center;
}

.itemButton span {
	text-align: left;
	flex-grow: 1;
	font-size: 15px;
	font-weight: 500;
}

.itemList {
	padding: 0 18px;
	padding-bottom: 6px;
}

.itemList > * {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	color: #bfbfbf;

	padding: 10px 0px;

	font-size: 14px;
}
