.modalWrapper {
	position: fixed;
	top: 0;
	z-index: 1231;
	overflow: auto;

	display: block;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
}

.modalWrapper.left {
	flex-direction: row;
}

.modalWrapper.right {
	flex-direction: row-reverse;
}

.modalContent {
	margin: 0 auto;
	border-radius: 6px;
	background-color: #1c1c1c;
}

.modalContent.top {
	align-self: flex-start;
}

.modalContent.center {
	align-self: center;
}
