.checkboxWrapper{
    display: flex;
    gap: .35rem;
    align-items: center;
}

.checkbox{
    border: 2px solid rgba(235, 235, 245, .5);
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxText{
    color: #bfbfbf;
    font-weight: 400;
    font-size: 14px;
}