.catalogCardWrapper{
    display: flex;
    flex-direction: column;
    gap: .2rem;

    position: relative;

    cursor: pointer;
}

.cardPoster{
    border-radius: 8px;
    width: 160px;
    height: 225px;
}

.cardTitle{
    font-size: 15px;
    color: #bfbfbf;
    font-weight: 600;
}

.cardType{
    font-size: 12px;
    color: rgba(235, 235, 245, .5);
}

.rating{
    position: absolute;
    top: 5px;
    left: -5px;

    width: 28px;
    height: 18px;

    border-radius: 5px;
    color: #fff;
    background: #3bb33b;
    
    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
}