.cwCardWrapper{
    display: flex;
    align-items: center;
    gap: .5rem;

    background-color: #252527;
    padding: 8px;
    border-radius: 8px;

    /* hz naschet height */
    min-width: 300px;
    height: 97px;

    position: relative;
}

.cwAnimePoster{
    object-fit: cover;
    width: 56px;
    height: 80px;
    border-radius: 6px;
}

.cwAnimeInfo{
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .15rem;

    height: 100%;
}

.cwAnimeTitle{
    font-size: 15px;
    font-weight: 600;
    color: #bfbfbf;
}

.continueInfo{
    color: rgba(235, 235, 245, .5);
    font-size: 12px;
}

.closeButtonWrapper{
    position: absolute;
    top: -8px;
    right: -8px;

    width: 30px;
    height: 30px;
}

@keyframes rotating{
    from{
        rotate: z 0deg;
        scale: 0;
    }

    to{
        rotate: z 90deg;
        scale: 1;
    }
}

.close{
    background-color: #303032;
    width: 28px;
    height: 28px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.close.hovered{
    animation-name: rotating;
    animation-duration: 300ms;
    display: flex;
}
