.dropdown {
	position: relative;
}

.defaultButton {
	display: flex;
	align-items: center;
	gap: 0.25rem;

	padding: 4px 10px;

	border: 1px solid #3a3a40;
	color: #bfbfbf;
	background-color: #2c2c30;
	font-size: 12px;
}

.choose {
	display: none;

	z-index: 99;
	position: absolute;
	/* top: 35px; */
	left: 0;

	/* min-width: 160px; */

	padding: 0.45rem;

	list-style: none;
	border-radius: 8px;
	background-color: #303032;
	color: #bfbfbf;
}

.choose.opened {
	display: block;
}
