.modalContent {
	width: 500px;
	background-color: #1c1c1c;
	padding: 18px;

	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.titleWrapper {
	display: flex;
	align-items: center;
}

.title {
	flex-grow: 1;
	font-size: 18px;
	font-weight: 500;
}

.notesEditWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
	gap: 0.8rem;
}

.notesEditButtons {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}
